@import "variables";

.ant-layout-sider-children {
  background-color: $textWhite;
}

.ant-layout-sider-trigger {
  background-color: $textWhite !important;

  .anticon {
    color: black;
  }
}

.ant-modal-content {
  padding: 0 !important;
  border-radius: 0px;
}

.ant-modal-close {
  top: 0 !important;
  right: 0 !important;
  position: absolute !important;
  color: $textWhite !important;
}

.custom-menu .ant-menu-item .anticon,
.custom-menu .ant-menu-submenu-title .anticon {
  color: #a30000;
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  font-weight: 500;
  font-size: 14px;
}

.custom-menu .ant-menu-item-selected {
  background: #a30000 !important;
  border-radius: 6px;
  color: $textWhite;
}

.custom-menu .ant-menu-item-selected .anticon {
  color: $textWhite !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: $redTeca !important;
  border-color: $redTeca !important;
}

.custom-tree {
  pointer-events: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: red !important;
  border-color: red !important;
}


input:disabled {
  color: #000 !important;
  opacity: 1 !important;
  -webkit-text-fill-color: #000;
}

.ant-select-disabled .ant-select-selector .ant-select-selection-item-content {
  color: #000 !important;
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
}


.wellcome {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 20px 0;

  /* Gradient chữ */
  background: linear-gradient(90deg,
      #ff4d4f,
      #faad14,
      #52c41a,
      #1677ff,
      #722ed1);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Glow nhẹ */
  text-shadow:
    0 0 6px rgba(255, 77, 79, 0.35),
    0 0 12px rgba(22, 119, 255, 0.25);

  /* Animation chuyển màu */
  animation: gradientMove 6s ease infinite;
}

/* Keyframes */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}