.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .banner-stack {
    background-color: #ffda89;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .banner-full {
      display: block;
      object-fit: contain;
      flex-direction: column;
      margin-top: -100px;
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .top-content {
      z-index: 1000;
      backdrop-filter: blur(8px);
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      padding: 40px 50px;
      width: 360px;

      @media (max-width: 768px) {
        width: 90%;
        padding: 25px 20px;
      }

      .login-form {
        width: 100%;

        .form-row {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          .form-label {
            font-weight: 600;
            color: #fff;
            margin-bottom: 6px;
          }

          .form-input {
            border: 1px solid #ccd5e0;
            border-radius: 5px;
            padding: 10px 14px;
            font-size: 15px;
            transition: all 0.25s ease;

            &:focus {
              outline: none;
              border-color: #0066ff;
              box-shadow: 0 0 4px rgba(0, 102, 255, 0.3);
            }
          }
        }
      }
    }

    img.middle-img {
      width: auto;
      height: auto;
      min-width: 100%;
      max-height: 55vh;
    }

    .bottom-img {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 20%, #970312 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      .bottom-content {
        align-items: center;
        gap: 20px;
        transform: translateX(5%);
        z-index: 1000;
      }

      .bottom-text {
        height: 50px;
        object-fit: contain;
      }

      .login-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1d601d;
        color: white;
        border: 1px solid #ffd700;
        border-radius: 50px;
        padding: 10px 20px;
        gap: 12px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin: 1rem auto;

        .login-text {
          text-align: center;
          line-height: 1.3;
          padding: 0 1rem;
        }

        &:hover .login-text {
          color: #f5e069;
        }

        .login-logo {
          height: 45px;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }

  .banner-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: 1;
    object-fit: contain;
  }
}

.dangKiLink p a {
  transition: 0.3s ease;
}

.dangKiLink p a:hover {
  color: blue !important;
}