// Extra small devices (phones, less than 576px)
$breakpoint-xs: 320px;

// Small devices (landscape phones, 576px and up)
$breakpoint-sm: 640px;

// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-lg: 1024px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-xl: 1280px;

// Extra extra large devices (larger desktops, 1400px and up)
$breakpoint-xxl: 1536px;

$redTeca: #940000;
$primaryColor: #0052cc;
$textWhite: #ffffff;
$textGray: #999999;
$borderColor: #e5e7eb;
